.env
.DS_Store
.DS_Store?
._*
__pycache__/
venv/
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


assets/*
!prompt*.md
# Один файл просто не может заигнорить чучело
log.log
*.log
log/*
!log.py
log*
log.log
no_commit.log


!cry.txt